@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&display=swap');

$mainBlack: #151515;
$lightBlack: #2f2f2f;
$mainWhite: #ffffff;
$transludeWhite: #ffffffc1;

$mainBlue: #00a7de;
$lighterBlue: rgb(187, 229, 238);
$lightBlue: rgb(19, 193, 232);

$lighterGreen: #74e465;
$lightGreen: #38a229;
$mainGreen: #3eca2b;

$lighterRed: #ff7575;
$lightRed: #c22e2e;
$mainRed: #dd1832;

button{
    background: none;
    border: none;
    cursor: pointer;
}

a {
    font-size: inherit;
    color: inherit;
    font-weight: 600;
}

hr {
    background-color: $lightBlack;
    margin: 1.5em 0 1.4em;
}

.App {
    display: flex;
    justify-content: center;
    color: $mainBlack;
    
    .new-game {
        font-size: 1rem;
        background-color: $mainBlue;
        padding: .2rem .6rem;
        color: $mainWhite;
        border-radius: 4px;
        cursor: pointer;
    }

    .container {
        margin-bottom: 8rem;
        width: 500px;

        .left-nav {
            display: flex;
            align-items: center;
    
            .first-player {
                border-radius: 4px;
                padding: .11rem .6rem;
                margin-right: .3rem;
                color: $mainWhite;
                font-weight: 900;
                font-size: 1.1rem;
            }

            .red {
                background-color: $mainRed;
            }

            .green {
                background-color: $mainGreen;
            }
        }

        
        .header {
            margin-top: 4rem;
            margin-bottom: 1.7rem;

            .title {
                font-size: 5rem;
                margin-bottom: 0;
                font-family: 'Josefin Sans', sans-serif;
                letter-spacing: -2px;
                word-spacing: -10px;
            }

            .subtitle {
                font-size: 1.3rem;
                margin-top: 0;
                margin-bottom: 1rem;
                font-weight: 400;
            }

            .navbar {
                display: flex;
                justify-content: space-between;
                font-size: 1.2rem;
                font-weight: 400;
            }
        }

        .board {
            $boardGap: .4rem;
            margin-bottom: 3rem;
            width: 100%;

            .row {
                display: flex;
                justify-content: center;
                margin-bottom: $boardGap;

                .square {
                    display: block;
                    text-align: center;
                    padding: .1em;
                    border-radius: 7px;
                    font-size: 5em;
                    width: 100%;
                    height: 150px;
                    margin-left: $boardGap;
                    
                    &.numberSquare {
                        background-color: $lighterBlue;
                        color: $lightBlue;
                    }

                    &.XSquare {
                        background-color: $lighterGreen;
                        color: $lightGreen;
                    }

                    &.OSquare {
                        background-color: $lighterRed;
                        color: $lightRed;
                    }

                    &:first-child{
                        margin-left: 0; 
                    }
                }

            }

            .win-board {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                position: absolute;
                width: 500px;
                height: 463px;
                z-index: 2;

                background: $transludeWhite;

                transition: opacity 1s;
                
                &.player-win{
                    
                }

                &.bot-win{
                    
                }

                &.hidden {
                    opacity: 0%;
                    visibility: hidden;
                    display: none;
                }

                .win-text {
                    font-size: 3.5em;
                    text-align: center;
                    font-weight: 600;
                    margin-bottom: .4em;
                }
            }

            .tie-board {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                position: absolute;
                width: 500px;
                height: 463px;
                z-index: 2;

                background: $transludeWhite;

                transition: opacity 1s;

                .tie-text {
                    font-size: 3.5em;
                    text-align: center;
                    font-weight: 600;
                    margin-bottom: .4em;
                }

                &.hidden {
                    opacity: 0%;
                    visibility: hidden;
                    display: none;
                }
            }
        }

        .footer {
            font-size: 1.2em;

            .description {
                line-height: 170%;
            }

            .last-links {
                text-align: center;
            }
        }
    }
}


.dropdown-container {
    position: relative;
    display: inline-block;
    .button-main {
        background-color: #3b82f6;
        color: white;
        padding: 8px 16px;
        border: none;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        border-right: solid #9bb9eb 1px;
        cursor: pointer;
    }

    .button-arrow {
        background-color: #3b82f6;
        color: white;
        padding: 8px 12px;
        border: none;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        cursor: pointer;

        img {
            width: .9em;
            height: .9em;
        }
    }

    .button-main:hover, .button-arrow:hover {
        background-color: #1d4ed8;
    }

    .dropdown-menu {
        list-style: none;
        position: absolute;
        left: 0;
        margin-top: 4px;
        width: 100%;
        background: white;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 10;
        padding-left: 0;
    }

    .dropdown-item {
        padding: 8px 16px;
        font-size: .8em;
        cursor: pointer;
    }

    .dropdown-item:hover {
        background: #f3f4f6;
    }
}
  
